<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="aspnetdbEntities" connectionString="metadata=res://*/PSBData.csdl|res://*/PSBData.ssdl|res://*/PSBData.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\sqlexpress;Initial Catalog=PluralSightBook;Integrated Security=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
